/* === Layout & Background === */
body {
  background-color: #8cccd5;
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
  color: #000000;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
}

img {
  max-width: 350px;
  height: 300px;
}

button {
  background-color: cyan;
  color: black;
  padding: 10px 16px;
  border: none;
  cursor: pointer;
  transition: 0.3s ease all;
}


button:hover {
  background-color: rgb(130, 47, 130);
  color: beige;
  transition: .3s ease all;
  transform: scale(1.05);
}