/* === Layout & Background === */
body {
  background-color: #53632f;
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
  color: #fff;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
}
